@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('../src/fonts/eurostile/eurostile.woff') format('woff');
    }
    
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('../src/fonts/eurostile/EuroStyle Normal.woff') format('woff');
    }

body {
	background-color: #CFAD42;
	color: #292D30;
	font-family: 'Source Code Pro', monospace;
}

h3 {
	margin: 0;
	font-family: 'Eurostile';
	font-size: 27pt;
	font-weight: bold;
	padding-left: 2rem;
}

p {
	padding-left: 2rem;
}

#app {
	width: 995px;
}

#canvas {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	background-color: #292D30;
	margin: 2rem;
	margin-bottom: 0;
	height: 666px;
	background-image: url("mockup448x320.png");
	background-size: contain;
	background-repeat: no-repeat;

}

.square {
	border: 1.2px dotted #CFAD42;
}

#card {
	display: none;
	width: 20rem;
	height: 10rem;
	border: 2px solid #CFAD42;
	border-radius: 20px;
	font-family: 'Eurostile';
	text-align: center;
	transform: translateX(40vw);
}

#card p {
	margin: auto;
}

textarea:focus, input:focus{
    outline: none;
}

#terminal {
	margin: 2rem;
	margin-top: 0;
	border: 1px solid #292D30;
}

#terminal-in {
	background: none;
	border: none;
	color: #292D30;
	font-family: 'Source Code Pro', monospace;
}

::placeholder {
	color: #292D30;
}

