@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('fonts/eurostile/eurostile.woff') format('woff');
    }
    
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('fonts/eurostile/EuroStyle Normal.woff') format('woff');
    }

body {
	zoom: 1;
	background-color: #242c3c;
	color: #5DAFA7;
	font-family: 'Source Code Pro', monospace;
	overflow: hidden;
}

h3 {
	margin: 0;
	font-family: 'Eurostile';
	font-size: 27pt;
	font-weight: bold;
	padding-left: 2rem;
}

p {
	padding-left: 2rem;
}

#app {
	width: 965px;
}

#canvas {
	display: grid;
	background-image: url('background-grid.png');
	background-size: 100%;
	margin: 2rem;
	margin-bottom: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*background-color: #fcdcec;*/
	border: 1px solid #5DAFA7;;
	padding: 0;
}

#playerbox1 {
	align-self: end;
	height: 258px;
}

#thealley {
	align-self: center;
	height: 258px;
	border: 1px solid #292D30;
}

#playerbox2 {
	align-self: start;
	height: 258px;
}

#card, #card2, #card3, #card4, #card5, #card6 {
	position: absolute;
	margin: 2px 2px;
	padding: 0;
}

.large {
	width: 120px;
	height: 120px;
}

.small {
	width: 55px;
	height: 55px;
}

#card {
	background-image: url('assets/HighPriest.PNG');
	background-size: contain;
	border: 2px solid #242c3c;
	/*background-color: #242c3c;*/
	overflow: hidden;
}

#card2 {
	background-image: url('assets/TheWayBook.PNG');
	background-size: contain;
	border: 2px solid #242c3c;
	/*background-color: #242c3c;*/
}

#card3 {
	border: 2px solid #242c3c;
	background-color: #fcdcec;
}

#card4 {
	background-color: #292D30;
	border: 2px solid #5DAFA7;
}

#card5 {
	background-color: #fcdcec;
	border: 2px solid #292D30;
}

#card6 {
	background-color: #5DAFA7;
	border: 2px solid #292D30;
}

.ui-tooltip {
    white-space: pre-line;
}

.tooltip {
	padding: .5em;
	position: fixed;
	color: #5DAFA7;
	background: #242c3c;
	border: 1px solid #5DAFA7;
}

.tooltip-img {
	margin-top: 0.5em;
}

span {
	font-style: normal;
	font-weight: normal;
}

.pink {
	color: #fcdcec;
}

.red {
	color: red;
}

textarea:focus, input:focus{
    outline: none;
}

#terminal {
	margin: 2rem;
	margin-top: 0;
	border: 1px solid #5DAFA7;
}

#terminal-in {
	background: none;
	border: none;
	color: #5DAFA7;
	font-family: 'Source Code Pro', monospace;
}

::placeholder {
	color: #5DAFA7;
}
