@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('../src/fonts/eurostile/eurostile.woff') format('woff');
    }
    
@font-face {
    font-family: 'EuroStyle Normal';
    font-style: normal;
    font-weight: normal;
    src: local('EuroStyle Normal'), url('../src/fonts/eurostile/EuroStyle Normal.woff') format('woff');
    }

body {
	zoom: .7;
	background-color: #CFAD42;
	color: #292D30;
	font-family: 'Source Code Pro', monospace;
}

h3 {
	margin: 0;
	font-family: 'Eurostile';
	font-size: 27pt;
	font-weight: bold;
	padding-left: 2rem;
}

p {
	padding-left: 2rem;
}

#app {
	width: 960px;
}

#canvas {
	background-color: #292D30;
	margin: 2rem;
	margin-bottom: 0;
	height: 640px;
	background-size: auto;
	background-repeat: no-repeat;

}

#card, #card2, #card3 {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 128px;
	height: 128px;
}

#card {
	border: 1px solid red;
	z-index: 0;
}

#card2 {
	border: 1px solid green;
	z-index: 1;
}

#card3 {
	border: 1px solid blue;
	z-index: 2;
}

textarea:focus, input:focus{
    outline: none;
}

#terminal {
	margin: 2rem;
	margin-top: 0;
	border: 1px solid #292D30;
}

#terminal-in {
	background: none;
	border: none;
	color: #292D30;
	font-family: 'Source Code Pro', monospace;
}

::placeholder {
	color: #292D30;
}

